video-button {
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
  background-color: #fff;
}

video-button.show {
  display: flex;
}

video-button.big {
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  border-radius: 0;
}

video-button video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
